/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0047ab;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #2d2d2d;
}

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
}
